.container {
    display: flex; 
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    height: 70px;
    background-color: #f0f8ff;
    box-shadow: 0 1px 3px rgba(red, green, blue, alpha);
}

.myclass {
    height: 100px;
}

#myid {
    height: 100px;
}

